{% extends "base.html" %}
{% load static %}

{% block staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   81z52f0fcu4fkv
    onLoad: onLinkedInLoad
    authorize: true
    lang: in_ID
</script>
{% endblock %}


{% block content %}
<div class="container">
  <div class="top">
    <div class="profile-picture">
      <img alt="3x4"/>
    </div>
    <div class="button-section">
      <div class="save-button">
        <div class="btn btn-primary" onclick=""> Simpan</div>
      </div>
      <div class="exit-button">
        <div class="btn btn-danger" onclick="logOut()">Keluar</div>
      </div>
    </div>
  </div>
  <div class="content">
    <script type="in/Login"></script>
  </div>
  <section class="lang-picker">
        <select class="my-select col-md-3" id="lang">
            <option></option>
        </select>
  </section>
  <section class="expertise-picker">
        <select class="my-select col-md-3" id="expertise">
            <option></option>
        </select>
  </section>
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'js/app_profile.js' %}"></script>
<script type="text/javascript" src="{% static 'js/expertise.js' %}"></script>
{% endblock %}
