{% extends "app_profile/layout/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<style type="text/css">
* {
box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
</head>

<h1 class="main-title">TODOLIST</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'app:add_friend' %}">
            <h2>Input Friend</h2>
            {% csrf_token %}
            {{ friend_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>

<center>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for..." title="Type in a name">
</center>


<form>
    <center>
    <input type="radio" name="searchBy" value="NPM" id="r1" class="line1" checked> NPM<br>
    <input type="radio" name="searchBy" value="Nama" id="r2" class="line1"> Nama<br>
    <input type="radio" name="searchBy" value="Angkatan" id="r3" class="line1"> Angkatan<br>
    <input type="radio" name="searchBy" value="Keahlian" id="r4" class="line2"> Skill<br>
    <input type="radio" name="searchBy" value="Keahlian" id="r5" class="line2"> Level<br>
    </center>
</form> 
<!-- <section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">My List</h2>
        <div class="flex">
            {% if teman %}
                {% for data in teman %}
                    <div class="flex-item">
                        <div class="to-do-list">
                            <div class="to-do-list-title">
                                {{data.NPM}}
                            </div>
                            <div class="to-do-list-date-added">
                                {{data.Nama}}
                            </div>
                            <div class="to-do-list-description">
                                {{data.Angkatan}}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Tidak ada data Todo.
            </div>
            {% endif %}
        </div>
    </div>
</section> -->

<table id="myTable">
  <tr class="header">
    <th style="width:20%;"><center> NPM </center> </th>
    <th style="width:20%;"><center> Nama </center> </th>
    <th style="width:20%;"><center> Angkatan </center></th>
    <th style="width:20%;"><center> Skill </center></th>
    <th style="width:20%;"><center> Level </center></th>
  </tr>
    {% for data in teman %}
        <tr>
            <td>
              <center> {{ data.NPM }} </center>
            </td>

            <td>
              <center>{{ data.Nama }}</center>
            </td>

            <td>
              <center>{{ data.Angkatan }}</center>
            </td>

            <td>
              <center> {{ data.Skill1 }} </center>
              <div>

              </div>
              <center> {{ data.Skill2 }} </center>
            </td>

            <td> <center> {{ data.Level1 }} </center>
              <div>

              </div>
                <center> {{ data.Level2 }} </center>
            </td>
        </tr>
    {% endfor %}
</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  if (document.getElementById('r1').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

  if (document.getElementById('r2').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

  if (document.getElementById('r3').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[2];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

  if (document.getElementById('r4').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[3];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

  if (document.getElementById('r5').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[4];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

  if (document.getElementById('r6').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[5];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

  if (document.getElementById('r7').checked) {
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[6];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }

}
</script>

</html>
{% endblock %}        
