<section class="main-profile">
	<div class="container">
		<div class ="data">
      <table class ="table" style="font-size:20px">
        <tbody>

          {% if user_login %}
          <tr>
            <td><h2> Nama </h2></td>
            <td><h2> {{user_login.name}} </h2></td>
          </tr>
          <tr>
            <td><h2> NPM </h2></td>
            <td><h2> {{kode_identitas}} </h2></td>
          </tr>
          <tr>
            <td><h2> Keahlian </h2></td>
            <td><h2> Kosong </h2></td>
          </tr>
          <tr>
            <td><h2> Email </h2></td>
            <td><h2> {{user_login.email}} </h2></td>
          </tr>
          <tr>
            <td><h2> Profile Linkedin </h2></td>
            <td><h2> <a href="{{user.profileUrl}}"> {{user.profileUrl}} </h2></td>
          </tr>

          {% else %}
            <tr>
              <td><h2> Nama </h2></td>
              <td><h2> Kosong </h2></td>
            </tr>
            <tr>
              <td><h2> NPM </h2></td>
              <td><h2> {{kode_identitas}} </h2></td>
            </tr>
            <tr>
              <td><h2> Keahlian </h2></td>
              <td><h2> Kosong </h2></td>
            </tr>
            <tr>
              <td><h2> Email </h2></td>
              <td><h2> Kosong </h2></td>
            </tr>
            <tr>
              <td><h2> Profile Linkedin </h2></td>
              <td><h2> Kosong </h2></td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
	</div>
</section>
