
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'app:add_status' %}" >
            <h3>Update Status</h3>
            {% csrf_token %}
            {{ message_form }}
            <input type="submit" class="btn btn-primary pull-right" value="POST">
        </form>
    </div>
</section>

<section name = "my-status" id="my-status">
    {% for data in status %}
        <div class="flex-item" style="padding: 10px" id="statuses">
            <div  id = "time">
                <h4>{{ data.created_date }}</h4>
            </div>

            <div  id = "msg">
                <h4>{{data.message}}</h4>
            </div>


        </div>

        <div id="space">
            {{ " " }}
        </div>
    {% endfor %}
</section>
